.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.App-header{
  color: red;
}
.Title{
  font-size: 16px;
}
.Button{
  color: red;
  margin: spacing(1, 1.5);
}

* {
  margin: 0
}

body {
  background-color: #f5f6fa;
}

